#content{
	-moz-column-count: 3; 
	-moz-column-gap: 1em; 
	-moz-column-rule: 1px solid black; 
	-webkit-column-count: 3; 
	-webkit-column-gap: 1em; 
	-webkit-column-rule: 1px solid black;
/*	overflow: hidden;
	white-space: nowrap;
	word-wrap: break-word;
	height:100%;
	text-overflow: ellipsis-word;
	-o-text-overflow: ellipsis;*/
	}