#content{
	-moz-column-count: 3; 
	-moz-column-gap: 1em; 
	-moz-column-rule: 1px solid black; 
	-webkit-column-count: 3; 
	-webkit-column-gap: 1em; 
	-webkit-column-rule: 1px solid black;
	overflow:visible;
/*	overflow: hidden;
	white-space: nowrap;
	word-wrap: break-word;
	height:100%;
	text-overflow: ellipsis-word;
	-o-text-overflow: ellipsis;*/
	min-height: 100%; /* Mindesthöhe für moderne Browser */
/*	min-width: 500%; /* Mindesthöhe für moderne Browser */
	height:90% !important; /* Important Regel für moderne Browser */ 
	height:90%; /* Mindesthöhe für den IE */ 
/*	overflow: hidden !important; /* FF Scroll-leiste */ 
}

html, body { 
	background-color: #caf;
	margin: 0;
	padding: 0;
	height: 90%; /* WICHTIG!!! STRECKT ANZEIGENBEREICH AUF 100% */
	
}

div
{
background:red;
position:relative;
animation:mymove 5s;
-moz-animation:mymove 5s; /* Firefox */
-webkit-animation: mymove 5s; /* Safari and Chrome */
-webkit-transition-duration: 1s, 1s;
  -webkit-transition-function: ease-in, ease-out;
 /*
-webkit-transform:	translate(1%,1%);
-moz-transform: 	translate(1%,1%);
-o-transform: 		translate(1%,1%);
-ms-transform: 		translate(1%,1%);*/
   }

@keyframes mymove
{
from {left:0%;}
to {left:-66%;}
}

@-moz-keyframes mymove /* Firefox */
{
from {left:0%;}
to {left:-66%;}
}

@-webkit-keyframes mymove /* Safari and Chrome */
{
from {left:0%;}
to {left:-66%;}
}

#lala {
	width:100%;
}
#lala td {
	width:50%;	
}
footer {
	position:fixed;
	width:100%;
}
#buttonsstyle {
	width:100%;
	height:80px;
	/*vielleicht mit calc versuchen*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffa200;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#ffffff 0%,
		#ffffff 50%,
		#d6d6d6);
	background: -webkit-gradient(
		linear, left top, left bottom, 
		from(#ffffff),
		color-stop(0.50, #ffffff),
		to(#d6d6d6));
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border: 3px solid #ffbf00;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 3px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.1),
		0px 1px 0px rgba(255,255,255,1);
}